:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
}

body {
  font-size: 1.2rem;
  /* font-family: 'Fleur De Leah'; */
  font-family: 'Verdana', sans-serif;
  min-height: 2000px;
}

.hero {
  min-height: 100vh;
  background-color: var(--bg);
}

.hero h1 {
  font-family: Fleur De Leah, cursive;
  font-size: 6rem;

}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;

}

.hero a {
  background-color: white;
  color: var(--pink); /* untuk sementara cuma bisa pink */
}

.hero a:hover {
  background-color: var(--pink); /* untuk sementara cuma bisa pink */
  color: white; 
}