:root {
  --button: #c2c4a1;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
}

body {
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
  min-height: 4000px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/frolicsome-fairy-yEP0b-5EZoM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: grayscale(75%) brightness(75%);
}

.hero {
  position: relative;
  min-height: 100vh;
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: Fleur De Leah, cursive;
  font-size: 6rem;
  margin-block: 1rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;

}

.hero a {
  background-color: #1e1b4b;
  color: var(--button);
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--button);
  color: #1e1b4b;
  text-shadow: none;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(3px);
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: Fleur De Leah, cursive;
  font-size: 3.2rem;
}

.mynavbar .nav-link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.venue {
  background-image: url(img/annie-spratt-OWq8w3BYMFY-unsplash.jpg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.venue h2 {
  font-family: Fleur De Leah, cursive;
  font-size: 4rem;
  color: black;
  text-shadow: var(--shadow);
  text-align: center;
  margin-bottom: 2rem;
}

.venue h3 {
  font-size: 1.8rem;
  color: black;
  /* text-shadow: var(--shadow); */
  text-align: center;
  margin-bottom: 1rem;
}

.venue p {
  font-size: 1.2rem;
  color: black;
  /* text-shadow: var(--shadow); */
  text-align: center;
  margin-bottom: 1rem;
}

.venue a {
  background-color: #1e1b4b;
  color: var(--button);
  box-shadow: var(--shadow);
}

.venue a:hover {
  background-color: var(--button);
  color: #1e1b4b;
  text-shadow: none;
}


/* Media Query */
/* Laptop */
@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }

  .simply-countdown-circle>.simply-section {
    padding: 70px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown-circle>.simply-section {
    padding: 60px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

}

/* Mobile Phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown-circle>.simply-section {
    padding: 45px;
    margin: 3px;

  }

  .mynavbar .nav-link {
    font-size: 1.2rem;
    text-align: center;
  }
}